html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App-header {
  background-color: #f7f5ec;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
  font-size: 16px;
  line-height: 2;
}

.App-link {
  color: #61dafb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 25px 0 0;
}

.rightPane,
.leftPane {
  flex: auto;
}

.rightPane {
  max-width: 40vw;
}

.attributes {
  display: flex;
  justify-content: flex-start;
}

.attributes div {
  margin: 0 10px 0 0;
}

.attributeText {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
}

label {
  font-size: 16px;
  margin-right: 5px;
}
